<h3>Statistiken am <%= declared(params)[:created_at] %></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Titel</th>
      <th scope="col">Marke</th>
      <th scope="col">URL</th>
      <th scope="col">Kategorie</th>
      <th scope="col">Menge</th>
      <th scope="col">Kalorien</th>
      <th scope="col">Protein</th>
      <th scope="col">Kohlenhydrate</th>
      <th scope="col">Davon Zucker</th>
      <th scope="col">Fett</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% aggr.each do |a| %>
      <tr>
        <% %i[title brand].each do |s| %>
          <td><%= a[s] %></td>
        <% end %>
        <td><a href="<%= a[:url] %>">
          .../<%= a[:url].split("/")[-2] %>/...
        </a></td>
        <td><%= a[:category] %></td>
        <td>
          <%= "#{"%.1f" % [a[:nutrition_taken]]}#{a[:nutrition_unit]}" %>
        </td>
        <% %i[kalorien protein kohlenhydrate davon_zucker fett].each do |s| %>
          <td><%= "%.1f" % [a[s]] %></td>
        <% end %>
        <td>
          <form method="post" action="/food/<%= a[:id] %>/delete">
            <button type="submit" class="btn btn-default" aria-label="Left Align">
              <i class="fa fa-trash-o"></i>
            </button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/" class="btn btn-primary">Zurück</a>
