<div class="row">
  <div class="col-xs col-sm">
    <form method="post" action="/search">
      <div class="form-group">
        <label for="search_term">Futtersuche</label>
        <input type="text" class="form-control awesomeplete"
          id="search_term" name="search_term" list="cached_names"
          placeholder="Essensbeschreibung eingeben. Optionen siehe unten">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
      <h5 style="margin-top: 20px;">Optionen</h5>
      <ul>
        <li>
          num: Position in der fddb Suche (z.B. num:4 liefert den 4ten Link)
        </li>
      </ul>
      <datalist id="cached_names">
        <% cached_names.each do |c| %>
          <option><%= c %> -cached</option>
        <% end %>
      </datalist>
    </form>
  </div>
</div>

<% if aggr.first %>
<div class="row" style="margin-top: 20px">
  <div class="col-xs col-sm">
    <h3>Statistiken</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Kalorien</th>
          <th scope="col">Gr. 1 (5)</th>
          <th scope="col">Gr. 2 (3)</th>
          <th scope="col">Gr. 3 (2,5)</th>
          <th scope="col">Gr. 4 (3)</th>
          <th scope="col">Gr. 5 (2)</th>
          <th scope="col">Gr. 6 (3)</th>
          <th scope="col">Gr. 7 (1)</th>
        </tr>
      </thead>
      <tbody>
        <% aggr.each do |date, h| %>
          <tr>
            <td>
              <a href="/detail?created_at=<%= date %>"><%= date %></a>
            </td>
            <% h.each do |_c, bst| %>
              <td><%= "%.1f" % [bst] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<a href="?all=true" class="btn btn-primary">Alle anzeigen</a>
<h5 style="margin-top: 20px">Legende</h5>
<ul>
  <li>Gruppe 1 Getreideprodukte, Kartoffeln, Reis, Brot</li>
  <li>Gruppe 2 Milch, Quark, Joghurt, Käse, Molke, saure Sahne, Sojamilch,
    Sojaprodukte</li>
  <li>Gruppe 3 Fleisch, Fisch, Eier, Hülsenfrüchte, Wurst, Tofu</li>
  <li>Gruppe 4 Gemüse</li>
  <li>Gruppe 5 Obst, Obstsaft, getrocknetes Obst</li>
  <li>Gruppe 6 Fett, Öl, Margarine/Butter, Salatdressing, Schlagsahne,
    Creme fraiche, Schmand, Mayonaise, Nüsse, Oliven, Avocado</li>
  <li>Gruppe 7 Extras und Alkohol, Marmelade, Honig, Nuss-Nougat-Creme,
    Süßigkeiten, Kuchen, Salzgebäck, Braten- und Sahnesoße, Tomatenketchup,
    Limonade</li>
</ul>
<div class="chart-container col-xs col-sm">
  <canvas id="chart"></canvas>
</div>
<script>
var ctx = document.getElementById("chart").getContext('2d');
var bColor = [
  'rgba(255, 99, 132, 0.2)',
  'rgba(54, 162, 235, 0.2)',
  'rgba(255, 206, 86, 0.2)',
  'rgba(75, 192, 192, 0.2)',
  'rgba(153, 102, 255, 0.2)',
  'rgba(255, 159, 64, 0.2)',
  'rgba(25, 100, 230, 0.2)',
  'rgba(153, 230, 100, 0.2)',
];
var lColor = [
  'rgba(255, 99, 132, 1)',
  'rgba(54, 162, 235, 1)',
  'rgba(255, 206, 86, 1)',
  'rgba(75, 192, 192, 1)',
  'rgba(153, 102, 255, 1)',
  'rgba(255, 159, 64, 1)',
  'rgba(25, 100, 230, 1)',
  'rgba(153, 230, 100, 1)',
];
var myChart = new Chart(ctx, {
    type: 'line',
    responsive: true,
    data: {
      labels: <%= aggr.keys.reverse.to_json %>,
      datasets: [
        <% categories.keys.each_with_index do |cat, i| %>
        {
          label: '<%= cat %>',
          data: <%= aggr.values.reverse.map { |d| d.values[i] }.to_json %>,
            backgroundColor: [bColor[<%= i %>]],
            borderColor: [lColor[<%= i %>]],
            borderWidth: 1
        },
        <% end %>
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<% end %>
